{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block main %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<h3 class="ui header">
    <i class="calendar outline icon"></i>
    <div class="content">
        List of your bookings
    </div>
  </h3>

<table>
    <tr>
        <th>Restaurant</th>
        <th>Date</th>
        <th>Hour</th>
        <th>Confirmed</th>
        <th>Checkin</th>
        <th>Delete</th>
    </tr>
    {% for booking in list_booking %}
        <tr>
            <td>{{booking[1].name}}</td>
            {% set date_hour = booking[0].start_booking | string%}
            {% set date_hour = date_hour.split('.')[0]%}
            {% set date = date_hour.split(' ')[0] %}
            {% set hour = date_hour.split(' ')[1] %}
            <td>{{date}}</td>
            <td>{{hour[:-3]}}</td>
            {% if booking[0].confirmed_booking %}
                <td>Confirmed</td>
            {% else %}
                <td>Not confirmed</td>
            {%endif%}
            {% if booking[0].checkin %}
                <td>Done</td>
            {% else %}
                <td>Not done</td>
            {%endif%}
            {% if not booking[0].checkin %}
                <td>
                    <form method="POST" action="{{base_url}}/delete/{{booking[0].id}}">
                        <button>Delete</button>
                    </form>
                </td>
            {%else%}
                <td> / </td>
            {%endif%}
        </tr>
    {% endfor%}
</table>

{% endblock %}